APP_NAME="Cantim do lanche"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/loja-online

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=loja_virtual_db
DB_USERNAME=root
DB_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost/loja-online/cadastro/google/callback

GOOGLE_MAPS_API_KEY=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=cantimdolanche@gmail.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=cantimdolanche@gmail.com
MAIL_FROM_NAME="Cantim do Lanche"

MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_PUBLIC_KEY=

