APP_NAME="Cantim do lanche"
APP_ENV=local
APP_DEBUG=true

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=loja_virtual_db
DB_USERNAME=root
DB_PASSWORD=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost/loja-online/cadastro/google/callback