Options -Indexes

RewriteEngine On

# Permite que arquivos e pastas públicas existentes
# sejam entregues normalmente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Encaminha as demais URLs para o Front Controller
RewriteRule ^ index.php [QSA,L]
