:root {
    --cor-primaria: #2563eb;
    --cor-secundaria: #0f172a;
    --cor-destaque: #f59e0b;
    --cor-clara: #f8fafc;
    --cor-texto: #334155;

    --laranja: #F57C00;
    --laranja-hover: #EF6C00;
    --creme: #FFF7E8;
    --marrom: #5D4037;
    --texto: #444;
    --branco: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--creme);
    color: var(--texto);
}

.navbar-brand {
    letter-spacing: 0.3px;
}

/* CARRINHO DA NAVBAR */

.btn-carrinho {
    color: #d99000;
    border: 2px solid #d99000;
    background: transparent;
}

.btn-carrinho:hover {
    background: #d99000;
    color: #ffffff;
}

/* FOOTER */

.footer-site {
    background: #ffffff;
    margin-top: 80px;
    padding: 50px 0;
    border-top: 1px solid #eee;
}

/* BOTÃO VOLTAR */

.btn-voltar-cardapio {
    background-color: var(--creme);
    border: 1px solid var(--laranja);
    color: var(--marrom);
}

.btn-voltar-cardapio:hover {
    background-color: var(--laranja);
    border-color: var(--laranja);
    color: var(--branco);
}